.LandingPage {
  height: 477vh;
  background-color: coral;
}
.SectionOne {
  height: 85vh;
  background-color: aliceblue;
  background-image: linear-gradient(
      to right,
      rgba(8, 8, 8, 0.218),
      rgba(15, 10, 10, 0.99)
    ),
    url("../../assets/img/rest1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.RestaurantSection {
  height: 150vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 40, 32);
}
.On {
  background-color: aquamarine;
  width: 28%;
  /* padding: 2rem; */
  margin: 3rem;
}

@media (max-width: 900px) {
  .LandingPage {
    height: 800vh;
  }

  .RestaurantSection {
    height: 275vh;
  }
}

@media (max-width: 600px) {
  .LandingPage {
    height: 786vh;
    /* padding: 4rem; */
  }

  .RestaurantSection {
    height: 290vh;
    flex-direction: column;
    background-color: yellow;
  }

  .On {
    width: 80%;
    height: 40vh;
  }
}

@media (max-width: 500px) {
  .LandingPage {
    height: 761vh;
    /* padding: 4rem; */
  }

  .RestaurantSection {
    height: 272vh;
  }
}
