.Menu {
  height: 420vh;
  background-color: aliceblue;
  font-size: 0.8rem;
}

.MenuMain {
  height: 70vh;
  width: 100%;
  /* background-image: url("../../assets/img/rest9.jpg"); */
  background-image: url("../../assets/img/food/food3.jpg");

  background-position: center;
  background-size: cover;
}

.MenuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #444040; */
  /* background-color: #b44f81; */
}
.MenuMenu {
  background-color: #b44f81;
}

.Paragraph {
  padding: 1rem 8rem;
  /* background-color: #3d3b3c; */
}

.MenuTitle {
  font-size: 3rem;
  color: #3d3b3c;
}
.Menus {
  padding: 1rem 6rem;
}
.OurMenu {
  padding: 2rem 8rem;
}
.Lunch,
.Breakfast {
  display: flex;
  gap: 3rem;
}
.Lunch {
  /* background-color: crimson; */
  /* background-color: #b44f81; */
}
.Breakfast {
  background-color: chocolate;
}

.Diner {
  background-color: #3d3b3c;
}

/* ////////////////////////////////////////// */
.MenuImages {
  /* background-color: #f34fa1; */
  height: 60vh;
  padding: 4rem;
}
