.Menu {
  height: 300vh;
  background-color: aliceblue;
  font-size: 0.8rem;
}

.MenuMain {
  height: 70vh;
  width: 100%;
  /* background-image: url("../../assets/img/rest9.jpg"); */
  background-image: url("../../assets/img/food/food3.jpg");

  background-position: center;
  background-size: cover;
}

.Paragraph {
  padding: 4rem 8rem;
}

.MenuTitle {
  font-size: 4rem;
  color: #3d3b3c;
}
.Menus {
  padding: 1rem 6rem;
}
.OurMenu {
  padding: 2rem 8rem;
}
.Lunch,
.Breakfast {
  display: flex;
  gap: 3rem;
}
.Lunch {
  background-color: crimson;
}
.Breakfast {
  background-color: chocolate;
}

.Diner {
  background-color: #3d3b3c;
}
