.Navbar {
  height: 15vh;
  width: 100%;

  /* position: fixed;
  top: 0;
  left: 0; */
  background-color: #201e1f;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 1rem 3rem; */
  z-index: 90;
}

.Logo {
  font-size: 2.2rem;
  /* margin-top: 4rem; */

  /* margin: 2rem 3rem; */
  /* marg */
  margin-top: -1rem;
  color: white;

  /* background-color: yellow; */
}

.Logo a {
  text-decoration: none;
  color: inherit;
}
.Navbar nav {
  height: 100%;
  margin-top: -0.1rem;
  margin-right: 2rem; /* problem */
  /* background-color: rgb(111, 121, 129); */
}

@media (max-width: 800px) {
  .DesktopOnly {
    display: none;
  }
}

.Icon {
  fill: rgb(53, 53, 51);
  margin-right: -3rem;
  margin-top: -1rem;
  /* margin-top: 2rem; */
  font-size: 6rem;
}
@media (max-width: 800px) {
  .Icon {
    font-size: 4rem;
  }

  .Logo {
    margin-right: 2rem;
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  .Icon {
    font-size: 4rem;
  }

  .Logo {
    font-size: 2rem;

    /* margin-top: -1rem; */
    margin-right: 1.2rem;
    margin-top: 2rem;
  }
}
