.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100vh;
  left: 0;
  top: 0;

  z-index: 200;

  /* background-color: coral; */
  background-color: #b44f81;
  padding: 32px 16px;
  transition: transform 0.3s ease-out;

  display: none;
}

nav {
  margin-top: 4rem;
}
.Logo {
  margin-bottom: 42px;
}

@media (max-width: 800px) {
  .SideDrawer {
    display: block;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
