.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100vh;
  left: 0;
  top: 0;

  z-index: 300;

  /* background-color: coral; */
  /* background-color: #b44f81; */
  background-color: #201e1f;
  padding: 32px 16px;
  transition: transform 0.3s ease-out;

  display: none;
}

nav {
  margin-top: 3rem;
}
.Logo {
  margin-bottom: 42px;
}

@media (max-width: 800px) {
  .SideDrawer {
    display: block;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.Location {
  margin-top: 3.4rem;
  font-size: 1rem;
  color: white;
  margin-left: 2rem;
  /* background-color: aquamarine; */
}

.Socialss {
  display: flex;
  margin-top: 3rem;
  margin-left: 2rem;
  color: aliceblue;
  font-size: 2rem;
  /* background-color: rgb(110, 122, 133); */

  /* background-color: burlywood; */
}
.Socialss p {
  margin-right: 1rem;
}
