/* .Home { */
/* background-color: coral; */
/* height: 300vh; */
/* font-size: 1rem; */
/* } */

/* .Main { */
/* background-image: url("../../assets/img/rest6.jpg"); */
/* background-image: url("../../assets/img/rest5.jpg"); */
/* background-image: url("../../assets/img/rest9.jpg"); */
/* background-color: rgb(48, 45, 45); */
/* background-image: url("../../assets/img/rest12.jpg"); */
/*  */
/* background-position: top; */
/* background-position: center; */
/* background-position: bottom; */
/* background-size: cover;
  height: 85vh;
} */

/* .ReserveButton {
  padding: 1rem 2rem;
  margin-top: 76vh;
  margin-left: 3rem;

  /* margin-right: 3rem; */
/* font-size: 1.2rem;
  border-top-right-radius: 1rem;
  background-color: #201e1f;
  color: white;  */

/* display: flex;
  flex-direction: end;
  position: fixed; */
/* } */

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
.HomeContent {
  background-color: #e3dde0;
  clip-path: polygon(0 0, 100% 0, 100% 58vh, 0 100%);
  /* background-color: rgb(252, 243, 244); */
  /* background-color: #080808; */
  color: rgb(20, 13, 3);
  height: 68vh;
  /* margin: 2rem; */
  /* padding: 1rem 3rem; */
  padding-top: 3rem;
  /* padding: 10rem 7rem; */
  /* padding: 3rem; */
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .HomeContent {
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  }
}

@media (max-width: 880px) {
  .HomeContent {
    height: 65vh;
    /* padding: 4rem; */
    /* clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%); */
  }
}

/* @media (max-width: 700px) {
  .HomeContent { */
/* height: 100vh; */
/* }
} */

@media (max-width: 500px) {
  .HomeContent {
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 69vh, 0 100%);
    height: 75vh;
  }
}
@media (max-width: 450px) {
  .HomeContent {
    clip-path: polygon(0 0, 100% 0, 100% 52vh, 0 100%);
    height: 57vh;
  }
}

/* @media (max-width: 360px) {
  .HomeContent { */
/* height: 130vh; */
/* padding: 2rem; */
/* }
} */

/*
  .Home h2 {
    font-size: 1.7rem;
    margin-top: -10rem;
  } */

/* .Icon {
  color: chocolate;
  font-size: 4rem;

} */

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
.ChefSection {
  height: 125vh;
  margin-bottom: -20vh;
  /* background-color: #0f0a0c; */
  background-color: #080808;
  /* background-color: #e3dde0; */
  /* background-color: #b44f81; */
  /* clip-path: polygon(0 0, 100% 0, 100% 130vh, 0 100%); */

  display: flex;
  /* padding: 5rem 2rem; */
  padding: 6rem 3rem;
}

/* .ChefSection img {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
} */

/* .ChefSpecial {
  background-color: #e3dde0;
  width: 30%;
  height: 75vh;

  margin-top: 4rem;
  box-shadow: -1rem -1rem 3rem 2rem #080808; */
/* box-shadow: 1rem 6rem 6rem #080808, 1rem 6rem 6rem #080808; */
/* } */

/* .ChefNames {
 
  width: 35%;
  height: 90vh;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  z-index: 200;


  box-shadow: 0px 2rem 1rem #080808, 0px -1rem 1rem #080808;
}

.NamesTitle {
  height: 15vh;
  background-color: #e3dde0;
} */

/* .ChefNamesList {
  height: 75vh;
  width: 100%;
  background-color: #e3dde0;
}

.ChefDesc {
  line-height: 1.7;
  padding: 1.2rem;
}

.ChefButton {
  margin-left: 1.2rem;

  padding: 0.8rem 2rem 0.4rem 2rem;
  outline: none;
  border: none;
  border-bottom: 1.2px solid #080808;
  margin-top: 4rem;
} */

/* .ChefVIP {
  background-color: #e3dde0;
  margin-top: 10rem;
  width: 30%;
  height: 80vh;

  box-shadow: -2rem -2rem 3rem 4rem #080808;
} */

/* @media (max-width: 1100px) {
  .ChefNames {
    height: 93vh;
  }

  .ChefNamesList {
    height: 78vh;
  }

  .ChefVIP {
    width: 32%;
    height: 78vh;
  }

  .ChefButton {
    margin-top: 3rem;
  }
} */

@media (max-width: 1000px) {
  .ChefSection {
    height: 125vh;
  }
  /* 
  .ChefNames {
    height: 99vh;
  }

  .ChefNamesList {
    height: 84vh;
  }
  .ChefButton {
    margin-top: 2rem;
  } */
}

@media (max-width: 880px) {
  .ChefSection {
    flex-direction: column;
    height: 162vh;
    padding: 2rem 3rem;
  }
}

@media (max-width: 600px) {
  .ChefSection {
    height: 155vh;
    padding: 2rem;
  }
  /* .ChefButton {
    margin-top: 2rem;
  } */
}

@media (max-width: 500px) {
  .ChefSection {
    padding: 1.3rem;
    /* height: 155vh; */
  }
}

@media (max-width: 400px) {
  .ChefSection {
    padding: 1.4rem;
  }
  /* .ChefDesc {
    padding: 1rem;
  }
  .ChefButton {
    margin-top: 0.2rem;
  } */
}

@media (max-width: 360px) {
  .ChefSection {
    /* background-color: yellow; */
    /* padding: 0.6rem; */
    height: 153vh;
  }
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

/* ..........................  TEXT */

.Iconn {
  font-size: 6rem;
  /* color: #e9e0e5; */
  color: #3d3b3c;
}

.Iconnn {
  /* color: #e9e0e5; */
  color: #3d3b3c;

  font-size: 9rem;
  float: right;
  /* margin-right: -3rem; */
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* .SectionMain {
  background-image: linear-gradient(
    to right,
    rgba(8, 8, 8, 0.918),
    rgba(15, 10, 10, 0.99)
  );
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;


} */

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////       RESTAURANT      /////////////////////////////////////////// */
.Restaurant {
  /* height: 130vh; */

  display: flex;
  padding: 2rem;
}

.One {
  /* background-color: #fa1487; */
  width: 34%;

  height: 86vh;
  /* margin-top: 6rem; */
  /* margin-top: -4rem; */

  /* box-shadow: -1rem -1rem 3rem 2rem #080808; */

  z-index: 200;
}

.OneOne {
  height: 17vh;
  /* background-color: #3d3b3c; */
  background-color: #e3dde0;
}
.OneTwo {
  height: 69vh;
  background-color: #e3dde0;
  padding: 2rem 1.7rem;
}
/* .RestaurantName {
  font-size: 2.4rem;
  color: #3d3b3c;

  padding: 1rem 4rem;
 
} */

/* .RestaurantName span {
  padding-left: 3rem;
  color: #3d3b3c;
 
} */

.RestaurantDesc {
  line-height: 1.5;
}

.RestaurantButton {
  padding: 0.8rem 2rem 0.4rem 2rem;
  outline: none;
  border: none;
  border-bottom: 1.2px solid #080808;
  margin-top: 4rem;
}

@media (max-width: 1100px) {
  .One {
    width: 35%;
    height: 86vh;
  }

  .OneTwo {
    height: 73vh;
  }
}

@media (max-width: 1000px) {
  .RestaurantButton {
    margin-top: 3rem;
  }
}

.Two {
  /* background-color: #e9e0e5; */
  width: 32%;

  height: 80vh;
  margin-top: 5rem;
  /* box-shadow: 0px 2rem 1rem #080808, 0px -1rem 1rem #080808; */
  /* margin-top: 12rem; */
  /* margin-top: -2rem; */

  /* box-shadow: 1rem 2rem 6rem rgb(182, 31, 5); */
  /* box-shadow: 0 1rem yellow; */

  /* box-shadow: 5px 0px yellow, 5px 0px red, 0px 0px, 30px 5px rgb(29, 93, 190); */
  /* z-index: 200; */
}

.Three {
  /* background-color: blueviolet; */
  width: 32%;

  height: 90vh;
  margin-top: 10rem;
  /* margin-top: 2rem; */

  /* box-shadow: 2rem 3rem 6rem #080808; */
}

@media (max-width: 880px) {
  .Restaurant {
    flex-direction: column;
    /* height: 280vh; */
    padding: 2rem 3rem;
    /* background: yellow; */
  }
  .One {
    width: 100%;
    height: 65vh;
    /* background-color: aqua; */
  }
  .OneTwo {
    height: 35vh;
  }

  .Two {
    width: 100%;
    height: 50vh;
    margin-top: 3rem;
  }

  .Three {
    width: 100%;
    height: 50vh;
    margin-top: 2rem;
  }
}

@media (max-width: 700px) {
  .RestaurantButton {
    margin-top: 1rem;
  }
  .Restaurant {
    /* height: 285vh; */
    /* padding: 2rem 4rem; */
    /* background: yellow; */
  }

  .One {
    width: 100%;
    height: 69vh;
    /* background-color: aqua; */
  }
  .OneTwo {
    height: 39vh;
  }

  .Two {
    /* width: 100%; */
    height: 45vh;
    /* margin-top: 3rem; */
  }

  .Three {
    /* width: 100%; */
    height: 45vh;
    /* margin-top: 2rem; */
  }
}

@media (max-width: 600px) {
  .Restaurant {
    /* height: 280vh; */
    padding: 2rem 2rem;
    /* background: yellow; */
  }

  .One {
    width: 100%;
    height: 73vh;
    /* background-color: aqua; */
  }
  .OneTwo {
    height: 43vh;
  }

  .Two {
    /* width: 100%; */
    height: 40vh;
    /* margin-top: 3rem; */
  }

  .Three {
    /* width: 100%; */
    height: 40vh;
    /* margin-top: 2rem; */
  }
}

@media (max-width: 500px) {
  .Restaurant {
    padding: 2rem 1.3rem;
  }
  .One {
    height: 80vh;
    /* background-color: aqua; */
  }
  .OneTwo {
    height: 53vh;
    padding: 1rem 0.7rem;
  }

  .Two {
    /* height: 50vh; */
    /* margin-top: 7rem; */
  }

  .Three {
    /* height: 50vh; */
    /* margin-top: 2rem; */
  }
}

@media (max-width: 420px) {
  .One {
    /* height: 78vh; */
  }
  .OneTwo {
    /* height: 61vh; */
  }
}

@media (max-width: 400px) {
  .Restaurant {
    /* padding: 1.4rem; */
  }
}

@media (max-width: 360px) {
  .Restaurant {
    /* height: 250vh; */
    /* padding: 0.6rem; */
  }

  .One {
    /* height: 69vh; */
  }
  .OneOne {
    /* height: 10vh; */
  }
  .OneTwo {
    /* height: 40vh; */
  }
  .Two {
    /* height: 60vh; */
    /* margin-top: 7rem; */
  }

  .Three {
    /* height: 60vh; */
    /* margin-top: 2rem; */
  }
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////// REVIEWS///////////////////// */

/* 
.Buttons {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
} */

.ButtonMenu,
.ButtonReserve {
  outline: none;
  border: 1px solid #3d3b3c;
  padding: 1rem 3.5rem;
  margin-left: 2rem;
}

@media (max-width: 500px) {
  .ButtonMenu,
  .ButtonReserve {
    padding: 1rem 2rem;
  }
}

@media (max-width: 360px) {
  .ButtonMenu,
  .ButtonReserve {
    margin-left: 1.5rem;
  }
}

@media (max-width: 300px) {
  .ButtonMenu,
  .ButtonReserve {
    margin-left: 1rem;
    padding: 0.8rem 2rem;
  }
}
